h1 {
    font-family: Calibri;
    font-size: small;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
}

h3 {
    font-family: Arial;
    font-size: large;
    text-align: center;
}