.box {
    margin: 70px auto;
    height: 300px;
    width: 600px;
}

.container:after {
    content: '';
    display: block;
    clear: both;
    color: black;
}

.atas {
    height: 50px;
    width: 600px;
    background-color: rgb(110, 113, 255);
}

h1 {
    text-align: center;
}

.kiri {
    height: 250px;
    width: 200px;
    float: left;
    background-color: #ffbfbf;
}

.gambar {
    background-image: url('foto diri.jpg');
    background-size: cover;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 7.5px;
    
}

.kanan{
    width: 400px;
    height: 250px;
    background-color: #90d4a1;
    float: right;
}

body{
    background-attachment: fixed;
    background: url('bg web.jpg');
    background-size: cover;
}